@import "tailwindcss";
@theme {
    --font-oswald: "Oswald", sans-serif;
    --color-c-green: #1A422B;
    --color-c-light-green: #F3FAC0;
    --color-c-black: #191919;
    --color-c-white: #FFFFFF;
    --color-c-mid-green: #7C9726;
}

body {
    width: 100%;
    height: 100%;
    
}
